<h1 class="col-md-12">Edit Profile</h1>
<%= render partial: "users/form", locals: {user: @user} %>

    <div class="form-group">
      <%= link_to "Cancel", "javascript:history.go(-1);", class: "col-sm-1" %>
      <%= link_to 'Delete', user_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "col-sm-1 pull-right" %>
    </div>