<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<%= render partial: "users/form", locals: {user: @user} %>

<%= link_to "Delete User", delete_user_path(@user.id), method: "delete", data: {confirm: "Are you sure?"} %>