<h1 class="col-md-12">Edit Profile</h1>
<%= render partial: "users/form", locals: {user: @user} %>

<%= link_to "Delete User", delete_user_path(@user.id), method: "delete", data: {confirm: "Are you sure?"}, class: "col-md-6 text-right" %>