<%=render :partial => "layouts/navbarout"%>
<h1>Welcome to Vagabond</h1>
<a href="/Login">Login</a> <br>
<a href="/Register">Register</a>
<p>Find me in app/views/users/index.html.erb</p>

<% @user.each do |user| %>
  <%= user.first_name %>
<% end %>
