<h3>Profile</h3>
<h1>Hello, <%= @user.first_name %></h1>
<div>Current City: <%= @user.city %></div>

<div class="delete_user">
<% if current_user == @user %>
  <%= link_to "Delete", delete_user_path(@user), method: "delete" %>
<% end %>
</div>