<h3 class="col-md-12">
  Post to: <%= @city.name %>
  <hr class="colorgraph">
</h3>

<br>

<%= render partial: 'stories/form', locals: {story: @story} %>

<div class="form-group">
  <%= link_to 'Back', stories_path, class: "col-sm-1"  %>
</div>
