<h1><%= @city.name %></h1>

<% @city.stories.order("created_at DESC").each do |s| %>
	<div>
		<h2><%= link_to s.title, story_path(s) %></h2>
	</div>
	<div>
		<h4><%=h truncate(s.body, :length =>70) %></h4>
	</div>
<% end %>

New Post: <%= link_to "New Post", new_story_path %>