<video autoplay loop poster="" id="video-background" muted>
  <source src="http://static.videezy.com/system/resources/previews/000/000/173/original/City%20at%20night%20[SaveYouTube.com].mp4" type="video/mp4">
</video>
 <div class="container">
    <div class="jumbotron" id="home-cta">
      <h1>Welcome to Vagabond</h1>
      <p>Lorem ipsum dolor sit amet, eam cu minim iriure ponderum. Ad hinc appareat mei. Veniam noster inimicus sit eu. Docendi molestiae qui id.</p>
      <p>Deserunt suavitate definiebas est ut, sit odio agam facilisis ea, an posse facilis nusquam ius. An viris vocent postulant vel, nam ea magna conclusionemque, eros dicant quo ex. Essent convenire no nam. Sint magna simul cum ad. Nam essent eirmod in, aperiri qualisque eloquentiam ad mei, cu natum falli feugait eum.</p>
      <% unless current_user %>
        <%= button_to "Sign Up", new_user_path, method: "get", class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div> 

  
