<video autoplay loop poster="" id="video-background" muted>
  <source src="http://static.videezy.com/system/resources/previews/000/000/173/original/City%20at%20night%20[SaveYouTube.com].mp4" type="video/mp4">
</video>
 <div class="container">
    <div class="jumbotron" id="home-cta">
     <h1>Weclome</h1>
 </div> 

  
